{{#mdl-card class="professional" title='Pick Your Professional'}}
  <div class="mdl-card__supporting-text">
    <ul class="professionals-list">
      {{#each model.professionals as |professional|}}
      <li class="professionals-list-item">
        {{#link-to "professionals" class="new-btn"}}
        <span class="professionals-list-item__name">{{professional.name}}</span>
        {{/link-to}}
      </li>
      {{/each}}
    </ul>
  </div>
{{/mdl-card}}
