<h3 class="professionals-list-header">Select A Professional</h3>
<h4 class="professionals-list-header">To see the services these professionals offer, please click on an image</h4>
<ul class="professionals-list">
  {{#each model as |professional|}}
    <li class="professionals-list-item">
      {{#link-to "professionals" class="new-btn" }}
        <span class="professionals-list-item__img">{{gravatar-image class="gravatar-image" email=professional.email}}</span>
        <span class="professionals-list-item__name">{{professional.firstName}}</span>
        <span class="professionals-list-item__name">{{professional.lastName}} - </span>
        <span class="professionals-list-item__service">Developer</span>
      {{/link-to}}
    </li>
  {{/each}}
</ul>
