{{#mdl-card class="professional" title='Pick Your Professional'}}
  <div class="mdl-card__supporting-text">
    <ul class="professionals-list">
      {{#each model as |professional|}}
      <li class="professionals-list-item">
        {{#link-to "professionals" class="new-btn"}}
        {{gravatar-image class="gravatar-image" email=professional.email}}
        <span class="professionals-list-item__name">{{professional.firstName}}</span>
        <span class="professionals-list-item__name">{{professional.lastName}}</span>
        {{/link-to}}
      </li>
      {{/each}}
    </ul>
  </div>
{{/mdl-card}}
