@import "yoga";
@import 'material-design-lite';

.mdl-layout__header {
  background: #919195;
}

.mdl-button--accent.mdl-button--accent.mdl-button--raised {
  background: #3fe5fb;
}
a {
  color: #3fe5fb;
}

body {
  background: #79797d;
}

//Index page styles

.image-row {
  display: flex;
  justify-content: center;
  width: 100%;
  box-shadow: 0 8px 6px -6px black;
}
img {
  width: 15rem;
  height: 15rem;
}

.tag-line__header,
.description-p,
.login-page__register {
  text-align: center;
}

.mdl-textfield {
  display: block;
  background: #919195;
  margin: 5px;
  border-radius: 5px;
}

.appointment-btn {
  display: block;
  margin-top: 3rem;
  width: 50%;
  height: 4rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card-row {
  display: flex;
  justify-content: center;
}
 .admin-card, .client-card {
   margin: 10px;
 }

 // Login Page Styles

 .login-page__form {
    display: flex;
    justify-content: center;
 }

 .submit-btn {
   float: right;
   margin: 5px;
 }
