@import "yoga";
@import 'material-design-lite';

.mdl-layout__header {
  background: #3fe5fb;
}

.mdl-button--accent.mdl-button--accent.mdl-button--raised {
  background: #3fe5fb;
}
a {
  color: #3fe5fb;
}


body {
  background-image:
    linear-gradient(
      to bottom,
      #79797d, white
    );
}

//Index page styles

.image-row {
  content: "";
  background: url('/images/NEW-PIC.jpg') repeat-x center;
  height: 20rem;
  background-size: contain;
  box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.5);
}

.tag-line__header,
.description-p,
.login-page__register {
  text-align: center;
}

.mdl-textfield {
  display: block;
  background: white;
  margin: 5px;
  border-radius: 2px;
}

.appointment-btn {
  display: block;
  margin-top: 3rem;
  width: 50%;
  height: 4rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card-row {
  display: flex;
  justify-content: center;
}
 .admin-card, .client-card {
   margin: 10px;
 }

 // Login Page Styles

 .login-page__form, .user-profile-form,
 .register-form, .new-service__form {
    display: flex;
    justify-content: center;
 }

 .submit-btn, .add-service__btn,
 .register-submit-btn, .save-form-btn {
   float: right;
   margin: 5px;
 }
 .register-radio-btn {
   float: left;
   margin: 3px;
 }

// Admin Detail Page Styles

.services {
  width: 70%;
  margin: auto;
  margin-top: 20px;
}

// Client Detail Page Styles

.client-page-headers {
  text-align: center;
}
