{{#link-to 'admin.detail'}}
  {{mdl-button isRaised=true text='Admin' isAccent=true}}
{{/link-to}}
  <a href="new-user">Sign Up</a>

{{#link-to 'client.detail'}}
  {{mdl-button isRaised=true text='Client' isAccent=true}}
{{/link-to}}
  <a href="new-user">Sign Up</a>
