<h2 class="tag-line__header">Scheduling Made Easy</h2>
<img src="../images/NEW-PIC.jpg" alt="" />
<img src="../images/NEW-PIC.jpg" alt="" />
<img src="../images/NEW-PIC.jpg" alt="" />
<img src="../images/NEW-PIC.jpg" alt="" />
<img src="../images/NEW-PIC.jpg" alt="" />
<img src="../images/NEW-PIC.jpg" alt="" />
<img src="../images/NEW-PIC.jpg" alt="" />
<p class="description-p">
  Schedule Me allows freelancers and independent contractors
  to easily manage their calendars and clients. It allows clients to schedule
  appointments based on available dates and times.
</p>

{{#link-to "appointment.calender"}}
  {{mdl-button class="appointment-btn" isRaised=true text='Make An Appointment' isAccent=true}}
{{/link-to}}


{{#link-to 'admin.detail'}}
  {{mdl-button class="admin-btn" isRaised=true text='Admin' isAccent=true}}
{{/link-to}}


{{#link-to 'client.detail'}}
  {{mdl-button class="client-btn" isRaised=true text='Client' isAccent=true}}
{{/link-to}}
