<h2 class="main-page__header">Scheduling Made Easy</h2>
<p>
  Schedule Me allows freelancers and independent contractors
  to easily manage their calendars and clients. It allows clients to schedule
  appointments based on available dates and times.
</p>

{{#link-to "appointment.calender"}}
  {{mdl-button isRaised=true text='Make An Appointment' isAccent=true}}
{{/link-to}}


{{#link-to 'admin.detail'}}
  {{mdl-button isRaised=true text='Admin' isAccent=true}}
{{/link-to}}


{{#link-to 'client.detail'}}
  {{mdl-button isRaised=true text='Client' isAccent=true}}
{{/link-to}}
