
{{#mdl-card class="professional-booking-calendar" title='Select Appointment Date'}}
  <div class="prof-cal-text" class="mdl-card__supporting-text">
    {{#ember-calendar-table class="prof-cal-text" as |startTime endTime|}}
      {{moment-format startTime "h:mm"}} - {{moment-format endTime "h:mm"}}
    {{/ember-calendar-table}}
  </div>
{{/mdl-card}}



{{outlet}}
