<h2>My Profile</h2>
{{current-user-profile}}


<h2>Order History</h2>
<ul client-history>
{{#each model as |value|}}
  <li class="client-history-items">
    {{value.name}}
  </li>
{{/each}}
</ul>

{{#link-to "appointment.calender"}}
  {{mdl-button isRaised=true text='Make An Appointment' isAccent=true}}
{{/link-to}}
