<div class="client-page-profile">
  <h2 class="client-page-headers">My Profile</h2>
  {{current-user-profile}}
</div>

<div class="client-page-history">
  <h2 class="client-page-headers">Order History</h2>
  <ul client-history>
  {{#each model as |value|}}
    <li class="client-history-items">
      {{value.name}}
    </li>
  {{/each}}
  </ul>
</div>

{{#link-to "appointment.calender"}}
  {{mdl-button class="appointment-btn" isRaised=true text='Make An Appointment' isAccent=true}}
{{/link-to}}
