{{#mdl-nav title='Schedule Me' fixedHeader=true}}
  {{mdl-nav-item name='Sign Up'   route='new-user'}}
  {{mdl-nav-item name='Login'      route='login'}}
  {{mdl-nav-item name='Logout' route=''}}
  <div class="mdl-grid">
  	<div class="mdl-cell mdl-cell--12-col">

	</div>
  </div>
{{/mdl-nav}}



{{outlet}}
